
{{ "/assets/js/modernizr.js" | asset_url | script_tag }}
{{ "/assets/js/foundation.js" | asset_url | script_tag }}
{{ "/assets/js/main.js" | asset_url | script_tag }}
{{ "/assets/js/foundation/foundation.topbar.js" | asset_url | script_tag }}
{{ "/assets/js/foundation/foundation.tooltip.js" | asset_url | script_tag }}

<script>
  $(document).foundation();
  $("#quick-quote input[type=submit]").after("<span class='submit-arw'></span>");
</script>

